#notes_box {
	margin-bottom: 10px;
}
#notes_box {
	border: 1px solid black;
	border-image-source: initial;
	border-image-slice: initial;
	border-image-width: initial;
	border-image-outset: initial;
	border-image-repeat: initial;
	background: rgba(0, 0, 0, 0.2);
	width: 188px;
	margin-top: 10px;
}
#notes_title {
	font-size: 16px;
	padding: 4px 0px 8px 12px;
	font-weight: lighter;
	color: white;
	text-align: left;
}
.note_result {
	background: white;
	margin: 5px 5px 0px 5px;
	text-align: left;
	padding: 3px 3px 0px 5px;
}