.menu_item a {
    background-image: url("../images/header/user-header.png");
    background-position: -10px -2px;
}

.menu_item_home a {
    background: none repeat scroll 0 0 transparent;
    margin: auto;
    padding: 0;
    width: 170px;
}

.menu_item_reservations a {
    background-position: -208px -2px;
}
.menu_item_reservations a:hover {
    background-position: -208px -108px;
}
.menu_item_calendar a {
    background-position: -288px -2px;
}
.menu_item_calendar a:hover {
    background-position: -288px -108px;
}
.menu_item_directories a {
    background-position: -368px -2px;
}
.menu_item_directories a:hover {
    background-position: -368px -108px;
}
.menu_item_account a {
    background-position: -448px -2px;
}
.menu_item_account a:hover {
    background-position: -448px -108px;
}
.menu_item_newsletter a {
    background-position: -528px -2px;
}
.menu_item_newsletter a:hover {
    background-position: -528px -108px;
}
.menu_item_settings a {
    background-position: -608px -2px;
}
.menu_item_settings a:hover {
    background-position: -608px -108px;
}
.menu_item_information a {
    background-position: -688px -2px;
}
.menu_item_information a:hover {
    background-position: -688px -108px;
}
.static-display{
  display:block;
  border: 1px solid #eeeeee;
}

.show-all{font-size: 12px;}

.show-all a{text-decoration: underline;}
.show-all a:hover{text-decoration: none;color:#555;}